.content-banner {
    padding: 25px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    font-size: 2em;
}

.nav-content-wrap div { /* overrides style from root.css */
    padding-left: 2em;
    padding-right: 0;
}

.content {
    padding-top: 1em;
}

li {
    margin-left: 1em;
}

ul h1 {
    margin-top: 0.5em;
}

li p {
    padding-left: 1em;
}

ul {
    padding-bottom: 0.5em;
    border: 1px solid rgb(205, 212, 212);
}

.pro {
    list-style-type: '\02795'; /* + */ 
}

.con {
    list-style-type: '\2796'; /* - */
}

.pc-container {
    display: grid;
    grid-template-columns: auto auto;
}

.pc-container > ul {
    background-color: rgb(241, 245, 245);
    padding: 1em;
    width: 90%;
    text-align: left;
}