.content-banner {
    padding: 25px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    font-size: 2em;
}

.nav-content-wrap div { /* overrides style from root.css */
    padding-left: 2em;
    padding-right: 0;
}

.content {
    padding-top: 1em;
}

li p {
    padding: 1em;
}

.pro {
    list-style-type: '\02795'; /* + */ 
}

.con {
    list-style-type: "\2796"; /* - */
}